<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ServerIP" value="192.168.11.5"/>
    <add key="ServerDBName" value="DLNONLINE"/>
    <add key="UserID" value="Bright"/>
    <add key="PassWord" value="sa"/>
    <add key="DBType" value="0"/>
    <add key="ServerIP1" value="192.168.11.5"/>
    <add key="ServerDBName1" value="DLNOffice"/>
    <add key="UserID1" value="Bright"/>
    <add key="PassWord1" value="sa"/>
    <add key="DBType1" value="2"/>
    <add key="ServerIP2" value="192.168.11.5"/>
    <add key="ServerDBName2" value="Dln"/>
    <add key="UserID2" value="Bright"/>
    <add key="PassWord2" value="sa"/>
    <add key="DBType2" value="3"/>
    
    <add key="ServerIP3" value="192.168.2.209"/>
    <add key="ServerDBName3" value="Bright_Drug"/>
    <add key="UserID3" value="Bright"/>
    <add key="PassWord3" value="sa"/>
    <add key="DBType3" value="4"/>
    
    <add key="OARole" value="6"/>
    <add key="SmsUrl" value="192.168.11.5"/>
    <add key="NetUrl" value="www.healthyperson.cn"/>
    <add key="ConnectionString" value="server=211.139.123.136;Port=3507;database=dbplugin;uid=dbplugin;pwd=dbzhYf(132)!"/>
  </appSettings>
  <system.web>
    <sessionState mode="InProc" timeout="60"/>
    <httpRuntime maxRequestLength="1045876" executionTimeout="60"/>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WindowPayWebServiceImplServiceSoapBinding" />
        <binding name="Service1Soap" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="WindowPayWebServiceImplServiceSoapBinding1" />
        <binding name="TicketPayWebServiceImplServiceSoapBinding" />
        <binding name="TicketPayWebServiceImplV2ServiceSoapBinding" />
        <binding name="WindowPayWebServiceImplV2ServiceSoapBinding" />
        <binding name="TicketPayWebServiceImplV2ServiceSoapBinding1" />
        <binding name="WindowPayWebServiceImplV2ServiceSoapBinding1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="Service1Soap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://web.witontek.com/eHospital2/services/windowPayService"
        binding="basicHttpBinding" bindingConfiguration="WindowPayWebServiceImplServiceSoapBinding"
        contract="ServiceReference1.IWindowPayWebService" name="WindowPayWebServiceImplPort" />
      <endpoint address="http://ehospital.witontek.com/eHospital2/services/windowPayService"
        binding="basicHttpBinding" bindingConfiguration="WindowPayWebServiceImplServiceSoapBinding1"
        contract="ServiceReference3.IWindowPayWebService" name="WindowPayWebServiceImplPort1" />
      <endpoint address="http://ehospital.witontek.com/eHospital2/services/ticketPayService"
        binding="basicHttpBinding" bindingConfiguration="TicketPayWebServiceImplServiceSoapBinding"
        contract="ServiceReferenceCreate.ITicketPayWebService" name="TicketPayWebServiceImplPort" />
      <endpoint address="http://web.witontek.com/eHospital2/services/ticketPayServiceV2"
        binding="basicHttpBinding" bindingConfiguration="TicketPayWebServiceImplV2ServiceSoapBinding"
        contract="ServiceReferenceQrTest.ITicketPayWebServiceV2" name="TicketPayWebServiceImplV2Port" />
      <endpoint address="http://ehospital.witontek.com/eHospital2/services/windowPayServiceV2"
        binding="basicHttpBinding" bindingConfiguration="WindowPayWebServiceImplV2ServiceSoapBinding"
        contract="ServiceReferenceV2.IWindowPayWebServiceV2" name="WindowPayWebServiceImplV2Port" />
      <endpoint address="http://ehospital.witontek.com/eHospital2/services/ticketPayServiceV2"
        binding="basicHttpBinding" bindingConfiguration="TicketPayWebServiceImplV2ServiceSoapBinding1"
        contract="ServiceReferenceV2Create.ITicketPayWebServiceV2" name="TicketPayWebServiceImplV2Port1" />
      <endpoint address="http://192.168.11.5:8080/Service1.asmx" binding="basicHttpBinding"
        bindingConfiguration="Service1Soap" contract="ServiceReference2.Service1Soap"
        name="Service1Soap" />
      <endpoint address="http://web.witontek.com/eHospital2/services/windowPayServiceV2"
        binding="basicHttpBinding" bindingConfiguration="WindowPayWebServiceImplV2ServiceSoapBinding1"
        contract="TestAddressPay.IWindowPayWebServiceV2" name="WindowPayWebServiceImplV2Port1" />
    </client>
  </system.serviceModel>
</configuration>