<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ServerIP" value="192.168.11.5"/>
    <add key="ServerDBName" value="DLNONLINE"/>
    <add key="UserID" value="Bright"/>
    <add key="PassWord" value="sa"/>
    <add key="DBType" value="0"/>
    <add key="ServerIP1" value="192.168.11.5"/>
    <add key="ServerDBName1" value="DLNOffice"/>
    <add key="UserID1" value="Bright"/>
    <add key="PassWord1" value="sa"/>
    <add key="DBType1" value="2"/>
    <add key="ServerIP2" value="192.168.11.5"/>
    <add key="ServerDBName2" value="Dln"/>
    <add key="UserID2" value="Bright"/>
    <add key="PassWord2" value="sa"/>
    <add key="DBType2" value="3"/>
    
    <add key="ServerIP3" value="192.168.2.209"/>
    <add key="ServerDBName3" value="Bright_Drug"/>
    <add key="UserID3" value="Bright"/>
    <add key="PassWord3" value="sa"/>
    <add key="DBType3" value="4"/>
    
    <add key="OARole" value="6"/>
    <add key="SmsUrl" value="192.168.11.5"/>
    <add key="NetUrl" value="www.healthyperson.cn"/>
    <add key="ConnectionString" value="server=211.139.123.136;Port=3507;database=dbplugin;uid=dbplugin;pwd=dbzhYf(132)!"/>
  </appSettings>
  <system.web>
    <sessionState mode="InProc" timeout="60"/>
    <httpRuntime maxRequestLength="1045876" executionTimeout="60"/>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>